@pink-background: rgb(240, 85, 147);
@pink-background-hover: rgb(208, 75, 128);
@pink-border: rgb(195, 70, 120);
@black-transparent: rgba(0, 0, 0, 0.5);

@title-font-size: 27px;
@subtitle-font-size: 17px;
@large-font-size: 20px;
@medium-font-size: 16px;
@small-font-size: 12px;
@tiny-font-size: 9px;

@small-width: 576px;
@medium-width: 768px;
@large-width: 992px;

@section-spacing: 120px;
@box-shadow-width: 10px;
@card-padding: 40px;

//Mixins

.box-shadow {
    box-shadow: 0 0 @box-shadow-width 0 rgba(0,0,0,0.4);
}

.round {
    border-radius: 6px;
    overflow: hidden;
}

// Styles

html, body {
    height: 100%;
    width: 100%;
}

body {
    hyphens: auto;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
    font-size: @large-font-size;

    .index-image-wrapper {
        height: 100%;
        background: url("images/P1050038.png") no-repeat center center;
        background-size: cover;

        box-shadow: inset 0 -100px 100px -100px rgba(0,0,0,0.75);

        .index-image {
            height: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;

            visibility: hidden;
        }

        @media screen and (max-width: @small-width) {
            background: url("images/P1050044.png") no-repeat center center;
            background-size: auto 100%;

            .index-image {
                height: auto;
                width: 100%;
            }
        }
    }

    > .content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    > .footer-wrapper {
        background-color: rgb(60, 60, 60);
        font-size: @small-font-size;

        > .footer {
            color: white;
            padding: 10px 0;
            width: 80%;
            margin-left: auto;
            margin-right: auto;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 5px 0;

                a {
                    color: white;
                }
            }
        }
    }

    .btn-pink {
        font-size: @large-font-size;
    }

    @media screen and (max-width: @medium-width) {
        font-size: @medium-font-size;

        > .footer-wrapper > .footer {
            .col-sm-4 {
                text-align: center;
            }
        }
    }

    @media screen and (max-width: @small-width) {
        font-size: @small-font-size;
    }
}

h1 {
    position: relative;
    font-weight: 700;

    .underscore {
        color: @pink-background;
        position: absolute;
        left: -27px;
    }
}

p:last-child {
    margin-bottom: 0;
}

.nav-bar-wrapper {
    position: absolute;
    width: 100%;
    background-color: @black-transparent;
    color: white;

    .nav-bar {
        display: flex;
        font-weight: 500;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        max-width: 950px;

        .title {
            font-size: @title-font-size;
            font-weight: 300;
            line-height: 85%;
            padding: 20px 20px 20px 0;

            a {
                text-decoration: none;
                color: white;
            }

            .subtitle {
                font-size: @subtitle-font-size;
                color: @pink-background;
            }
        }

        .navigation {
            display: flex;
            margin-left: auto;
            align-items: center;

            ul {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        //font-weight: 700;
                    }
                }
            }

            .glyphicon {
                padding: 20px;
                margin: -20px;

                &.glyphicon-remove {
                    display: none;
                }
            }

            @media screen and (min-width: @large-width) {
                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        position: relative;
                        float: left;
                        padding: 20px;

                        a:not(.btn) {
                            display: block;
                            border-bottom: 3px solid transparent;

                            &:hover:after {
                                position: absolute;
                                top: 22px;
                                left: 7px;
                                content: "_";
                                color: @pink-background;
                            }
                        }

                        //&:last-child {
                        //    padding: 14px 0 14px 14px;
                        //}

                        &:first-child {
                            padding-left: 0;

                            a:hover:after {
                                left: -13px;
                            }
                        }
                    }
                }

                .burger-wrapper {
                    display: none;
                }
            }
            @media screen and (max-width: @large-width) {
                font-size: @large-font-size;

                ul {
                    position: absolute;
                    right: 10%;
                    top: 91px;
                    background-color: @black-transparent;
                    padding: 20px;
                    border-top: white solid 1px;
                    display: none;

                    li {
                        padding-bottom: 10px;

                        &:last-of-type {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            @media screen and (max-width: @small-width) {
                ul {
                    width: 100%;
                    left: 0;
                    padding-left: 10%;
                    padding-right: 10%;
                }
            }
        }
    }
}

.impressum, .dataprotection {
    .nav-bar-wrapper {
        position: static;
        background-color: rgb(60, 60, 60);
    }

    .content {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;

        a {
            color: @pink-background;
        }
    }

    .footer-wrapper {
        margin-top: 30px;
    }
}

.section {
    margin-top: @section-spacing;
}

.section, .contact-wrapper, body > .footer-wrapper > .footer {
    @media screen and (min-width: @medium-width) {
        width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
}

.dates {
    //max-width: 560px * 3 + 15px * 4;
    max-width: 560px;

    h1 {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .workshop {
        @workshop-padding: @card-padding;

        .box-shadow;
        .round;

        .image {
            height: 150px;
            background: url("images/yoga-mats.jpg") no-repeat center center;
            background-size: 100% auto;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .content {
            padding: 0 @workshop-padding (@workshop-padding / 4) @workshop-padding;
            border-bottom: rgb(200, 200, 200) 1px solid;

            h2 {
                margin-top: @workshop-padding;
            }
        }

        .footer {
            padding: (@workshop-padding / 4) @workshop-padding @workshop-padding @workshop-padding;

            button {
                margin-top: @workshop-padding / 2;
            }
        }
    }

    @media screen and (max-width: @large-width) {
        .workshop {
            max-width: 560px;
        }
    }
}

a[name="dates"], a[name="yoga-a-z"] {
    display: block;
}

.yoga-a-z {
    margin-top: @section-spacing + @box-shadow-width;
    margin-bottom: @section-spacing;

    h1 {
        margin-top: 35px;
    }

    .btn-group {
        button, a {
            margin-top: 5px;

            &:focus {
                background-color: @pink-background;
                color: white;
                border-color: @pink-border;
                font-weight: 700;
            }
        }
    }
}

.contact {
    h1 {
        margin-bottom: 30px;
    }

    .contact-wrapper {
        padding: @card-padding;
        .box-shadow;
        .round;
        margin-bottom: @section-spacing + @box-shadow-width;

        .form-group {
            margin-bottom: 10px;
        }

        .btn {
            margin-top: 10px;
        }

        h1 {
            margin-top: 0;
        }

        textarea {
            resize: vertical;
        }

        @media screen and (max-width: @small-width) {
            padding: 20px 15px;

            h1 {
                text-align: center;
            }

            button {
                display: block;
                margin: auto;
            }
        }
    }
}

.btn-pink {
    background-color: @pink-background;
    color: white;
    border: none;
    font-weight: 700;
}

.btn-pink:hover, .btn-pink:focus {
    background-color: @pink-background-hover;
    color: white;
}

textarea.form-control:focus, input[type="text"]:focus {
    border-color: @pink-border;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 85, 147, 0.6);
}

p {
    text-align: justify;
}

.container-fluid h1 {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 25px;
}

@media screen and (max-width: @small-width) {
    h1 {
        text-align: center;
    }
}

strong {
    font-weight: 700;
}

#yoga-modal {
    .modal-dialog {
        .modal-content {
            .box-shadow;
            .round;
            border: none;

            .modal-header {
                position: relative;
                padding: @card-padding / 4 @card-padding 0;
                border-bottom: rgb(200, 200, 200) 1px solid;

                h4 {
                    position: absolute;
                    left: -20px;
                    color: @pink-background;
                    font-size: 24px;
                    font-weight: 900;
                    margin-right: 20px;
                }

                ul.tabs {
                    float: left;
                    font-size: 24px;
                    font-weight: 500;
                    list-style-type: none;
                    padding: 0;
                    margin: 0 0 -1px;

                    li {
                        float: left;
                        padding: 5px 15px;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;

                        &.active {
                            border: rgb(200, 200, 200) 1px solid;
                            border-bottom-color: white;
                        }

                        a {
                            color: black;

                            &:hover {
                                text-decoration: none;
                                cursor: pointer;
                            }
                        }
                    }

                    &:after {
                        clear: both;
                    }
                }

                .close {
                    margin-top: 8px;
                    font-size: 24px;
                }
            }

            .modal-body {
                padding: @card-padding/2 @card-padding @card-padding;
            }
        }

        @media screen and (min-width: @medium-width) {
            max-width: 560px;
        }
    }

    .sutra {
        font-style: italic;
        color: @pink-background;
    }
}