.box-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.round {
  border-radius: 6px;
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  hyphens: auto;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}
body .index-image-wrapper {
  height: 100%;
  background: url("images/P1050038.png") no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 -100px 100px -100px rgba(0, 0, 0, 0.75);
}
body .index-image-wrapper .index-image {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
}
@media screen and (max-width: 576px) {
  body .index-image-wrapper {
    background: url("images/P1050044.png") no-repeat center center;
    background-size: auto 100%;
  }
  body .index-image-wrapper .index-image {
    height: auto;
    width: 100%;
  }
}
body > .content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body > .footer-wrapper {
  background-color: #3c3c3c;
  font-size: 12px;
}
body > .footer-wrapper > .footer {
  color: white;
  padding: 10px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body > .footer-wrapper > .footer ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}
body > .footer-wrapper > .footer ul a {
  color: white;
}
body .btn-pink {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  body > .footer-wrapper > .footer .col-sm-4 {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
}
h1 {
  position: relative;
  font-weight: 700;
}
h1 .underscore {
  color: #f05593;
  position: absolute;
  left: -27px;
}
p:last-child {
  margin-bottom: 0;
}
.nav-bar-wrapper {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.nav-bar-wrapper .nav-bar {
  display: flex;
  font-weight: 500;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
}
.nav-bar-wrapper .nav-bar .title {
  font-size: 27px;
  font-weight: 300;
  line-height: 85%;
  padding: 20px 20px 20px 0;
}
.nav-bar-wrapper .nav-bar .title a {
  text-decoration: none;
  color: white;
}
.nav-bar-wrapper .nav-bar .title .subtitle {
  font-size: 17px;
  color: #f05593;
}
.nav-bar-wrapper .nav-bar .navigation {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.nav-bar-wrapper .nav-bar .navigation ul {
  list-style-type: none;
}
.nav-bar-wrapper .nav-bar .navigation ul a {
  text-decoration: none;
  color: white;
}
.nav-bar-wrapper .nav-bar .navigation .glyphicon {
  padding: 20px;
  margin: -20px;
}
.nav-bar-wrapper .nav-bar .navigation .glyphicon.glyphicon-remove {
  display: none;
}
@media screen and (min-width: 992px) {
  .nav-bar-wrapper .nav-bar .navigation ul {
    margin: 0;
    padding: 0;
  }
  .nav-bar-wrapper .nav-bar .navigation ul li {
    position: relative;
    float: left;
    padding: 20px;
  }
  .nav-bar-wrapper .nav-bar .navigation ul li a:not(.btn) {
    display: block;
    border-bottom: 3px solid transparent;
  }
  .nav-bar-wrapper .nav-bar .navigation ul li a:not(.btn):hover:after {
    position: absolute;
    top: 22px;
    left: 7px;
    content: "_";
    color: #f05593;
  }
  .nav-bar-wrapper .nav-bar .navigation ul li:first-child {
    padding-left: 0;
  }
  .nav-bar-wrapper .nav-bar .navigation ul li:first-child a:hover:after {
    left: -13px;
  }
  .nav-bar-wrapper .nav-bar .navigation .burger-wrapper {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .nav-bar-wrapper .nav-bar .navigation {
    font-size: 20px;
  }
  .nav-bar-wrapper .nav-bar .navigation ul {
    position: absolute;
    right: 10%;
    top: 91px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-top: white solid 1px;
    display: none;
  }
  .nav-bar-wrapper .nav-bar .navigation ul li {
    padding-bottom: 10px;
  }
  .nav-bar-wrapper .nav-bar .navigation ul li:last-of-type {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .nav-bar-wrapper .nav-bar .navigation ul {
    width: 100%;
    left: 0;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.impressum .nav-bar-wrapper,
.dataprotection .nav-bar-wrapper {
  position: static;
  background-color: #3c3c3c;
}
.impressum .content,
.dataprotection .content {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}
.impressum .content a,
.dataprotection .content a {
  color: #f05593;
}
.impressum .footer-wrapper,
.dataprotection .footer-wrapper {
  margin-top: 30px;
}
.section {
  margin-top: 120px;
}
@media screen and (min-width: 768px) {
  .section,
  .contact-wrapper,
  body > .footer-wrapper > .footer {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}
.dates {
  max-width: 560px;
}
.dates h1 {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.dates .workshop {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
}
.dates .workshop .image {
  height: 150px;
  background: url("images/yoga-mats.jpg") no-repeat center center;
  background-size: 100% auto;
}
.dates .workshop .image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dates .workshop .content {
  padding: 0 40px 10px 40px;
  border-bottom: #c8c8c8 1px solid;
}
.dates .workshop .content h2 {
  margin-top: 40px;
}
.dates .workshop .footer {
  padding: 10px 40px 40px 40px;
}
.dates .workshop .footer button {
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .dates .workshop {
    max-width: 560px;
  }
}
a[name="dates"],
a[name="yoga-a-z"] {
  display: block;
}
.yoga-a-z {
  margin-top: 130px;
  margin-bottom: 120px;
}
.yoga-a-z h1 {
  margin-top: 35px;
}
.yoga-a-z .btn-group button,
.yoga-a-z .btn-group a {
  margin-top: 5px;
}
.yoga-a-z .btn-group button:focus,
.yoga-a-z .btn-group a:focus {
  background-color: #f05593;
  color: white;
  border-color: #c34678;
  font-weight: 700;
}
.contact h1 {
  margin-bottom: 30px;
}
.contact .contact-wrapper {
  padding: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 130px;
}
.contact .contact-wrapper .form-group {
  margin-bottom: 10px;
}
.contact .contact-wrapper .btn {
  margin-top: 10px;
}
.contact .contact-wrapper h1 {
  margin-top: 0;
}
.contact .contact-wrapper textarea {
  resize: vertical;
}
@media screen and (max-width: 576px) {
  .contact .contact-wrapper {
    padding: 20px 15px;
  }
  .contact .contact-wrapper h1 {
    text-align: center;
  }
  .contact .contact-wrapper button {
    display: block;
    margin: auto;
  }
}
.btn-pink {
  background-color: #f05593;
  color: white;
  border: none;
  font-weight: 700;
}
.btn-pink:hover,
.btn-pink:focus {
  background-color: #d04b80;
  color: white;
}
textarea.form-control:focus,
input[type="text"]:focus {
  border-color: #c34678;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 85, 147, 0.6);
}
p {
  text-align: justify;
}
.container-fluid h1 {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 25px;
}
@media screen and (max-width: 576px) {
  h1 {
    text-align: center;
  }
}
strong {
  font-weight: 700;
}
#yoga-modal .modal-dialog .modal-content {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  border: none;
}
#yoga-modal .modal-dialog .modal-content .modal-header {
  position: relative;
  padding: 10px 40px 0;
  border-bottom: #c8c8c8 1px solid;
}
#yoga-modal .modal-dialog .modal-content .modal-header h4 {
  position: absolute;
  left: -20px;
  color: #f05593;
  font-size: 24px;
  font-weight: 900;
  margin-right: 20px;
}
#yoga-modal .modal-dialog .modal-content .modal-header ul.tabs {
  float: left;
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
  margin: 0 0 -1px;
}
#yoga-modal .modal-dialog .modal-content .modal-header ul.tabs li {
  float: left;
  padding: 5px 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#yoga-modal .modal-dialog .modal-content .modal-header ul.tabs li.active {
  border: #c8c8c8 1px solid;
  border-bottom-color: white;
}
#yoga-modal .modal-dialog .modal-content .modal-header ul.tabs li a {
  color: black;
}
#yoga-modal .modal-dialog .modal-content .modal-header ul.tabs li a:hover {
  text-decoration: none;
  cursor: pointer;
}
#yoga-modal .modal-dialog .modal-content .modal-header ul.tabs:after {
  clear: both;
}
#yoga-modal .modal-dialog .modal-content .modal-header .close {
  margin-top: 8px;
  font-size: 24px;
}
#yoga-modal .modal-dialog .modal-content .modal-body {
  padding: 20px 40px 40px;
}
@media screen and (min-width: 768px) {
  #yoga-modal .modal-dialog {
    max-width: 560px;
  }
}
#yoga-modal .sutra {
  font-style: italic;
  color: #f05593;
}
